

.tipoDeLetra h1,h2 {
   
    font-size:2rem;
    color:rgb(0, 0, 0);
    background-color: #FFF;
}
tr{
    color:rgb(0, 0, 0);
}
button {
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bolder;
    font-size: large;
    background-color: rgb(192, 197, 197);
}
button:hover{
    background-color:rgb(163, 167, 167);
}
body{
    background-color:rgba(214, 216, 80, 0.76);
}
.cargando {
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    height: 100vh;           
    color: white; 
}

.puntos::after {
    content: '';
    display: inline-block;
    animation: puntosAnim 1.2s steps(4, end) infinite;
}

@keyframes puntosAnim {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

.menu-icono {
    height: 30px;
    cursor: pointer;
}
.menu-boton{
    background-color: #cccccc;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-color: #171717;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5), -4px -4px 10px rgba(255, 255, 255, 0.1);
  
}
